body {
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  margin: 0.5em 0;
}

.nav-bar {
  background-image: url('/assets/img/image_geometry_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

.menuIcon {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.menuIcon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.hidden {
  display: none;
}

.menu-wrapper {
  display: flex;
  height: 130vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-image: url('/assets/img/mobileMenu_bgTop.png');
  background-repeat: no-repeat;
  background-size: 40vh;
  opacity: 0;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s ease-out, opacity 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.menu-layout {
  background-image: url('/assets/img/mobileMenu_bgBottom.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30vh;
  width: 100vw;
}

.slide-in {
  transform: translateX(0%);
  opacity: 1;
}

.footer-text-wrapper a {
  color: #92dcdc;
  text-decoration: none;
}

.menu-wrapper a {
  text-decoration: none;
  color: #1a2236;
  font-size: 1.5em;
  margin: 1em 0;
}

.closeIcon {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
}

.closeIcon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/img/image_geometry_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 88vh;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  margin-bottom: 5%;
}

.button {
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding: 0.5em;
}

.button:hover {
  color: #1a2236;
  background-color: white;
  border: 1px solid black;
}

.button:active {
  color: #1a2236;
  background-color: white;
  border: 2px solid black;
}

#btnHeadline {
  margin-top: 5%;
}

.grid-layout {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
  color: white;
  padding: 1.5em;
}

.project-title {
  margin: 0% 0% 2% 0%;
  font-weight: 300;
  font-size: 1.4rem;
}

.card-list {
  list-style: none;
  display: flex;
  margin: 2% 0 5% 0;
  font-size: small;
  padding: 0;
}

.card-list-item {
  margin-right: 1em;
  background-color: #98dede;
  color: #1a2236;
  font-weight: 300;
  padding: 0.25em 0.5em;
}

.card-btn {
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding: 0.5em;
  border: white 1px solid;
  width: 60%;
}

.card-btn:hover {
  color: #1a2236;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.card-btn:active {
  color: #1a2236;
  background-color: white;
  border: 2px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  gap: 0;
}

.card1 {
  grid-row: 1 / 2;
}

.card2 {
  grid-row: 2 / 3;
}

.card3 {
  grid-row: 3 / 4;
}

.card4 {
  grid-row: 4 / 5;
}

.card5 {
  grid-row: 5 / 6;
}

.card6 {
  grid-row: 6 / 7;
}

.about {
  display: flex;
  flex-direction: column;
}

.dl-icon {
  margin: 0 5%;
}

.about-wrapper > button {
  margin: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0% 5%;
}

.main-list {
  list-style-type: none;
  padding: 0;
}

.main-item {
  padding: 15% 15% 25% 15%;
  color: white;
  margin-bottom: 1em;
}

.languages {
  background-color: #1c528a;
  background-image: url('/assets/img/hash.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.frameworks {
  background-color: #c2434d;
  background-image: url('/assets/img/diamond.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.skills {
  background-color: #227d69;
  background-image: url('/assets/img/lightbulb.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.sub-list {
  list-style-type: disc;
}

.card-image {
  min-height: 25.3vh;
  width: auto;
  overflow: hidden;
}

.card-image img {
  width: 100%;
}

#contact {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/img/image_geometry_1.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 15vh;
  padding-top: 80px;
}

#contact-section {
  background-color: #f9f9fa;
}

.contact-wrapper > h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  margin: 0.5em 0 0.2em 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

legend {
  display: none;
}

fieldset {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  border: 1px solid #dfdfe0;
  margin: 0 10px 10px;
}

fieldset:focus-within {
  border: 1px solid black;
}

fieldset > label {
  font-size: 12px;
  margin-bottom: 8px;
  color: #000;
}

input {
  background: white;
  border: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

input:focus {
  outline: none;
}

fieldset > textarea {
  border: none;
  font-family: 'Poppins', sans-serif;
  height: 140px;
  color: #7d7c84;
  padding: 10px 0;
  font-size: 16px;
}

fieldset > textarea:focus {
  outline: none;
}

#textarea > label {
  display: none;
}

.errorMsg {
  align-self: center;
  color: red;
}

.contact-form > button {
  margin: 15px 10px 6em 10px;
}

.footer {
  background-color: #1a2236;
  padding: 30px;
}

#get-resume {
  margin-left: 6px;
}

.icon-wrapper {
  display: flex;
  justify-content: space-around;
}

.modal {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(26, 34, 54);
  background-color: rgba(26, 34, 54, 0.75);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: calc(100vw - 5%);
  height: calc(100vh - 5%);
  padding: 5%;
}

.closeModal {
  margin-left: 85%;
}

.closeModal:hover {
  cursor: pointer;
}

.modal-header h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 600;
}

.modal-list {
  list-style: none;
  display: flex;
  margin: 2% 0 5% 0;
  font-size: small;
  padding: 0;
}

.modal-list-item {
  margin-right: 1em;
  background-color: #fff;
  color: #1a2236;
  font-weight: 300;
  padding: 0.25em 0.5em;
  border: #1a2236 1px solid;
}

.modal-body {
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.modal-body img {
  width: 100%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-button {
  background-color: #fff;
  color: #1a2236;
  border: #1a2236 1px solid;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 1em;
}

.modal-button:hover {
  color: white;
  background-color: #1a2236;
  border: 1px solid white;
  cursor: pointer;
}

.projects-navigation {
  display: none;
}

.icon-wrapper > a > img {
  height: 2em;
  margin: 2em 0 1em 0;
}

@media (min-width: 768px) {
  .nav-bar {
    background-image: none;
    justify-content: center;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .menuIcon {
    display: none;
  }

  .closeIcon {
    display: none;
  }

  .menu-layout {
    display: none;
  }

  .menu-wrapper {
    display: flex;
    flex-direction: row;
    opacity: 1;
    position: initial;
    transform: initial;
    height: initial;
    animation: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    background-image: none;
  }

  .menu-wrapper > a {
    margin-right: 50px;
    text-decoration: none;
    color: #1a2236;
  }

  .menu-wrapper > a:hover {
    text-decoration: underline #1a2236 2px;
  }

  .headline > .text-wrapper {
    max-width: 55%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('/assets/img/image_dots.png');
    background-repeat: no-repeat;
    background-size: 20vh;
    background-position: bottom right;
  }

  .button {
    width: 15em;
    padding: 1.3em;
    transition: all 0.2s ease-out;
  }

  .button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .headline {
    height: 100vh;
    justify-content: center;
    padding: 0 10%;
    background-image: url('/assets/img/image_geometry_3.png');
    background-size: 45% 100vh;
    background-position: right;
  }

  h1 {
    font-size: 8em;
    margin: 0;
  }

  h2 {
    font-size: 8em;
  }

  .projects {
    background-image: url('/assets/img/image_dots.png');
    background-repeat: no-repeat;
    background-position: 430px 210px;
    background-size: 20vh;
  }

  .projects > h2 {
    font-size: 7em;
    transform: rotate(-90deg) translate(42vh, -40vw);
  }

  .project-title {
    font-size: 2em;
    font-weight: 700;
  }

  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .grid-layout {
    display: block;
  }

  .layout1 {
    grid-row: 2;
    grid-column: 5/9;
    background-image: url('/assets/img/grid-bg1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .layout2 {
    grid-row: 3 / span1;
    grid-column: 7/-1;
    background-image: url('/assets/img/grid-bg2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 190px;
  }

  .layout3 {
    grid-row: 4 / span1;
    grid-column: 1/3;
    background-image: url('/assets/img/grid-bg3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 590px;
  }

  .layout4 {
    grid-row: 4 / span1;
    grid-column: 4/7;
    background-image: url('/assets/img/grid-bg4.png');
    background-repeat: no-repeat;
    background-size: 16vh;
    background-position: right 590px;
  }

  .card1 {
    grid-column: 5/-1;
  }

  .image1 {
    height: 500px;
    overflow: hidden;
  }

  .card2 {
    grid-column: 1/5;
    margin-top: 1.8em;
  }

  .image2 {
    height: 300px;
    overflow: hidden;
  }

  .card3 {
    grid-row: 2;
    grid-column: 9/-1;
    margin-top: 4em;
  }

  .image3 {
    height: 350px;
    overflow: hidden;
  }

  .card4 {
    grid-column: 1/7;
    transform: translateY(-85px);
  }

  .image4 {
    height: 50vh;
    overflow: hidden;
  }

  .card5 {
    grid-column: 7/-1;
    transform: translateY(-85px);
  }

  .image5 {
    height: 50vh;
    overflow: hidden;
  }

  .card6 {
    display: none;
  }

  .card-btn {
    width: 12em;
    background-color: white;
    color: #1a2236;
  }

  .card-btn:hover {
    color: white;
    background-color: #1a2236;
    border: 1px solid white;
  }

  .card-list {
    margin-bottom: 2em;
    margin-top: 0;
  }

  .modal-content {
    width: 80%;
    height: auto;
    margin: 3% auto;
    padding: 2% 3%;
  }

  .closeModal {
    margin-left: 100%;
  }

  .modal-list {
    margin-bottom: 3%;
  }

  .modal-body {
    width: 100%;
    padding: 0;
  }

  .modal-body img {
    width: 90%;
    align-self: center;
  }

  .modal-body p {
    margin: 4% 15%;
  }

  .button-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15%;
    margin-bottom: 5%;
  }

  .modal-button {
    display: inline;
    width: 20em;
    margin-right: 2%;
  }

  .projects-navigation {
    display: flex;
    justify-content: space-between;
    margin: 3% 15%;
  }

  .headline > .text-wrapper > p {
    margin-right: 35%;
  }

  .about {
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 15%;
  }

  .about-wrapper {
    order: 2;
    width: 50%;
    align-items: flex-start;
  }

  .main-list {
    padding-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    background-image: url('/assets/img/image_dots_with_teal.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 30vh;
  }

  .main-item {
    width: auto;
    height: auto;
    padding: 3em 0 8em 4em;
    margin: 0;
  }

  .languages {
    grid-column: 1/2;
    grid-row: 1;
  }

  .frameworks {
    grid-column: 2/3;
    grid-row: 1;
  }

  .skills {
    grid-row: 2;
    grid-column: 1/2;
  }

  #contact {
    background-image: url('/assets/img/contact-bg1.png');
    background-size: 20vh;
    align-items: center;
  }

  #contact-section {
    background-image: url('/assets/img/contact-bg2.png');
    background-repeat: no-repeat;
    background-size: 30vh;
    background-position: 83vw 79vh;
  }

  .contact-wrapper {
    align-items: center;
  }

  .contact-form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
  }

  fieldset {
    width: 32.5%;
  }

  #textarea {
    width: 70%;
  }

  .contact-form > button {
    margin-bottom: 11em;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 8%;
  }

  .icon-wrapper {
    justify-content: space-evenly;
    width: 20vw;
  }
}
