body {
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  margin: 0.5em 0;
}

.nav-bar {
  background-image: url('/assets/img/image_geometry_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

.nav-bar > a > img {
  width: 1em;
}

#menu-wrapper {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/img/image_geometry_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 85vh;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  margin-bottom: 5%;
}

.button {
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding: 0.5em;
}

.button:hover {
  color: #1a2236;
  background-color: white;
  border: 1px solid black;
}

.button:active {
  color: #1a2236;
  background-color: white;
  border: 2px solid black;
}

#btnHeadline {
  margin-top: 5%;
}

.grid-layout {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
  color: white;
  padding: 1.5em;
}

.project-title {
  margin: 0% 0% 2% 0%;
  font-weight: 300;
  font-size: 1.4em;
}

.card-list {
  list-style: none;
  display: flex;
  margin: 2% 0 5% 0;
  font-size: small;
  padding: 0;
}

.card-list-item {
  margin-right: 1em;
  background-color: #98dede;
  color: #1a2236;
  font-weight: 300;
  padding: 0.25em 0.5em;
}

.card-btn {
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding: 0.5em;
  border: white 1px solid;
  width: 60%;
}

.card-btn:hover {
  color: #1a2236;
  background-color: white;
  border: 1px solid black;
}

.card-btn:active {
  color: #1a2236;
  background-color: white;
  border: 2px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  gap: 0;
}

.card1 {
  grid-row: 1 / 2;
}

.card2 {
  grid-row: 2 / 3;
}

.card3 {
  grid-row: 3 / 4;
}

.card4 {
  grid-row: 4 / 5;
}

.card5 {
  grid-row: 5 / 6;
}

.card6 {
  grid-row: 6 / 7;
}

.about {
  display: flex;
  flex-direction: column;
}

.dl-icon {
  margin: 0 5%;
}

.about-wrapper > button {
  margin: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0% 5%;
}

.main-list {
  list-style-type: none;
  padding: 0;
}

.main-item {
  padding: 15% 15% 25% 15%;
  color: white;
  margin-bottom: 1em;
}

.languages {
  background-color: #1c528a;
  background-image: url('/assets/img/hash.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.frameworks {
  background-color: #e2505c;
  background-image: url('/assets/img/diamond.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.skills {
  background-color: #febf52;
  background-image: url('/assets/img/lightbulb.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.sub-list {
  list-style-type: disc;
}

.card-image {
  min-height: 25.3vh;
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.image1 {
  background-image: url('/assets/img/projects-img1.png');
}

.image2 {
  background-image: url('/assets/img/projects-img2.png');
}

.image3 {
  background-image: url('/assets/img/projects-img3.png');
}

.image4 {
  background-image: url('/assets/img/projects-img4.png');
}

.image5 {
  background-image: url('/assets/img/projects-img5.png');
}

.image6 {
  background-image: url('/assets/img/projects-img6.png');
}

#contact {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/img/image_geometry_1.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 15vh;
  background-color: #f9f9fa;
  padding-top: 80px;
}

.contact-wrapper > h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  margin: 0.5em 0 0.2em 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  border: 1px solid #dfdfe0;
  margin: 0 10px 10px;
}

fieldset:focus-within {
  border: 1px solid black;
}

fieldset > label {
  font-size: 12px;
  margin-bottom: 8px;
  color: #7d7c84;
}

input {
  background: white;
  border: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

input:focus {
  outline: none;
}

fieldset > textarea {
  border: none;
  font-family: 'Poppins', sans-serif;
  height: 140px;
  color: #7d7c84;
  padding: 10px 0;
  font-size: 16px;
}

fieldset > textarea:focus {
  outline: none;
}

.contact-form > button {
  margin: 15px 10px 6em 10px;
}

.footer {
  background-color: #1a2236;
  padding: 30px;
}

.footer-text-wrapper > a {
  color: #92dcdc;
  text-decoration: none;
}

#get-resume {
  margin-left: 6px;
}

.icon-wrapper {
  display: flex;
  justify-content: space-around;
}

.icon-wrapper > a > img {
  height: 2em;
  margin: 2em 0 1em 0;
}

@media (min-width: 768px) {
  .nav-bar {
    background-image: none;
    justify-content: center;
  }

  @keyframes slide-in {
    from {
      transform: translateY(-55px);
    }

    to {
      transform: translateY(0);
    }
  }

  #hamburguer {
    display: none;
  }

  #menu-wrapper {
    display: flex;
    animation: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

  #menu-wrapper > a {
    margin-right: 50px;
    text-decoration: none;
    color: #1a2236;
  }

  #menu-wrapper > a:hover {
    text-decoration: underline #1a2236 2px;
  }

  .headline > .text-wrapper {
    max-width: 55%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('/assets/img/image_dots.png');
    background-repeat: no-repeat;
    background-size: 20vh;
    background-position: bottom right;
  }

  .headline > .text-wrapper > p {
    margin-right: 35%;
  }

  .button {
    width: 15em;
    padding: 1.3em;
    transition: all .2s ease-in;
  }

  .button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .headline {
    height: 100vh;
    justify-content: center;
    padding: 0 10%;
    background-image: url('/assets/img/image_geometry_3.png');
    background-size: 45% 100vh;
    background-position: right;
  }

  h1 {
    font-size: 8em;
    margin: 0;
  }

  h2 {
    font-size: 8em;
  }

  .projects {
    background-image: url('/assets/img/image_dots.png');
    background-repeat: no-repeat;
    background-position: 430px 210px;
    background-size: 20vh;
  }

  .projects > h2 {
    font-size: 7em;
    transform: rotate(-90deg) translate(400px, -750px);
  }

  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .grid-layout {
    display: block;
  }

  .layout1 {
    grid-row: 2;
    grid-column: 5/9;
    background-image: url('/assets/img/grid-bg1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .layout2 {
    grid-row: 3/ span1;
    grid-column: 7/-1;
    background-image: url('/assets/img/grid-bg2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 190px;
  }

  .layout3 {
    grid-row: 4/span1;
    grid-column: 1/3;
    background-image: url('/assets/img/grid-bg3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 590px;
  }

  .layout4 {
    grid-row: 4/span1;
    grid-column: 4/7;
    background-image: url('/assets/img/grid-bg4.png');
    background-repeat: no-repeat;
    background-size: 16vh;
    background-position: right 590px;
  }

  .card1 {
    grid-column: 5/-1;
  }

  .image1 {
    height: 500px;
    background-size: cover;
  }

  .card2 {
    grid-column: 1/5;
    margin-top: 5em;
  }

  .image2 {
    height: 300px;
    background-size: cover;
  }

  .card3 {
    grid-row: 2;
    grid-column: 9/-1;
    margin-top: 4em;
  }

  .image3 {
    background-size: cover;
    height: 400px;
  }

  .card4 {
    grid-column: 1/7;
    transform: translateY(-85px);
  }

  .image4 {
    height: 50vh;
    background-size: cover;
  }

  .card5 {
    grid-column: 7/-1;
    transform: translateY(-85px);
  }

  .image5 {
    height: 50vh;
    background-size: cover;
  }

  .card6 {
    display: none;
  }

  .card-btn {
    width: 12em;
  }

  .card-list {
    margin-bottom: 2em;
    margin-top: 0;
  }

  .about {
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 15%;
  }

  .about-wrapper {
    order: 2;
    width: 50%;
    align-items: flex-start;
  }

  .main-list {
    padding-left: 10%;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    background-image: url('/assets/img/image_dots_with_teal.png');
    background-repeat: no-repeat;
    background-position: 630px bottom;
    background-size: 30vh;
  }

  .main-item {
    width: 40%;
    height: auto;
    padding: 3em 0 8em 4em;
    margin: 0;
  }
}
