body {
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  margin: 0.5em 0;
}

.nav-bar {
  background-image: url('/assets/img/image_geometry_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

.nav-bar > a > img {
  width: 1em;
}

.headline {
  display: flex;
  flex-direction: column;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  margin-bottom: 5%;
}

.geometric {
  display: flex;
  min-height: 12em;
  background-image: url('/assets/img/image_geometry_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 7% 0;
}

.button {
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding: 0.5em;
}

.button:hover {
  color: #1a2236;
  background-color: white;
  border: 1px solid black;
}

.button:active {
  color: #1a2236;
  background-color: white;
  border: 2px solid black;
}

#btnHeadline {
  margin: 0 5%;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
  color: white;
  padding: 1.5em;
}

.card-body > h4 {
  margin: 0%;
  font-weight: 300;
  font-size: 1.4em;
}

.card-list {
  list-style: none;
  display: flex;
  margin: 2% 0 5% 0;
  font-size: small;
  padding: 0;
}

.card-list-item {
  margin-right: 1em;
  background-color: #98dede;
  color: #1a2236;
  font-weight: 300;
  padding: 0.25em 0.5em;
}

.card-btn {
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding: 0.5em;
  border: white 1px solid;
  width: 60%;
}

.card-btn:hover {
  color: #1a2236;
  background-color: white;
  border: 1px solid black;
}

.card-btn:active {
  color: #1a2236;
  background-color: white;
  border: 2px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  gap: 0;
}

.card1 {
  grid-row: 1 / 2;
}

.card2 {
  grid-row: 2 / 3;
}

.card3 {
  grid-row: 3 / 4;
}

.card4 {
  grid-row: 4 / 5;
}

.card5 {
  grid-row: 5 / 6;
}

.card6 {
  grid-row: 6 / 7;
}

.about {
  display: flex;
  flex-direction: column;
}

.dl-icon {
  margin: 0 5%;
}

.about > button {
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-list {
  list-style-type: none;
  padding: 0;
}

.main-item {
  padding: 15% 15% 25% 15%;
  color: white;
  margin-bottom: 1em;
}

.languages {
  background-color: #1c528a;
  background-image: url('/assets/img/hash.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.frameworks {
  background-color: #e2505c;
  background-image: url('/assets/img/diamond.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.skills {
  background-color: #febf52;
  background-image: url('/assets/img/lightbulb.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.sub-list {
  list-style-type: disc;
}

.card-image {
  min-height: 25.3vh;
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.image1 {
  background-image: url('/assets/img/projects-img1.png');
}

.image2 {
  background-image: url('/assets/img/projects-img2.png');
}

.image3 {
  background-image: url('/assets/img/projects-img3.png');
}

.image4 {
  background-image: url('/assets/img/projects-img4.png');
}

.image5 {
  background-image: url('/assets/img/projects-img5.png');
}

.image6 {
  background-image: url('/assets/img/projects-img6.png');
}
